<%- include('templates/cabecera',
    {titulo:'Productos EJS'}
)%>



<div class="container">
    
  <h1>CRUD Mongo</h1>

    <a class="btn btn-success btn-block my-4" href="/producto/crear"> 
        Cargar producto
    </a>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% if (arrayProductos.length > 0) { %>
                <% arrayProductos.forEach(mascota => { %>
                    <tr>
                        <th scope="row"><%= mascota.id %></th>
                        <td><%= mascota.nombre %></td>
                        <td><%= mascota.precio %></td>
                        <td><a class="btn btn-success btn-block" href="producto/<%= mascota.id %>">Edit</a> </td>
                      </tr>
                <% }) %>
            <% } %>
        </tbody>
      </table>
</div>

<%- include('templates/footer') %>